<h1>Directory of Student Pages</h1>

<ul>
    <li><%= link_to 'thowell', '/thowell' %></li>
    <li><%= link_to 'lwhinkle', lwhinkle_path %></li>
    <li><%= link_to 'JacobHensley', "/JacobHensley" %></li>
    <li><%= link_to 'MichaelDHarris', "/michaeldharris" %></li>
</ul>
