<!-- app/views/pages/thowell-cmd.html.erb -->
<h1>Tyler Howell</h1>

<h2>Quick about me</h2>
    <ul>
      <li>I am a junior at UofM</li>
      <li>I play 3 instruments</li>
      <li>I enjoy biking on weekends</li>
    </ul>
